body{
	background-color: #AA151B;
	margin: 0px;
	min-width: 880px;
}
#fork{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#mainview{
	margin-top: 40px;
	width: 100%;
	min-height: 300px;
	background-color: #F1BF00;
	padding: 32px;
	font-family: sans-serif;
}
#setenta_title{
	font-family: 'strike';
	font-size: 70px;
	color: #F1BF00;
	margin-top:20px;
	margin-bottom: 0px;
}
@font-face {
    font-family: 'strike'; /*a name to be used later*/
    src: url('strike.ttf'); /*URL to font*/
}
#bottomtext{
	text-align: center;
}

#bottomtext a:link, #bottomtext a:visited{
	color: #97979A;
}
.error{
	font-style: italic;
	color: #AA151B;
}
.success{
	font-style: italic;
	color: green;
}
table{
	background-color: white;
}
.table_flag{
	margin-left: 2px;
	margin-right: 2px;
}
th, td{
	padding: 5px;
}
.table_semester{
	text-align: right;
}
#index_desc{
	font-style: italic;
}
#login_label, #login_email{
	font-weight: bold;
	font-size: larger;
}
#tool_bar{
	font-weight: bold;
}
#tool_bar a:visited, #tool_bar a:link{
	color: #AA151B;
}

.hyperlink_span{
	cursor: pointer;
	color: #AA151B;
	text-decoration: underline;
}

#big_black{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: black;
	opacity: 0.7;
}
#password_dialog{
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	background-color: #F1BF00;
	text-align: center;
	font-family: sans-serif;
	min-height: 300px;

}